<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Something went Wrong!!</h1>
    <p>Sorry for Inconvenience</p>

<%- include('includes/end.ejs') %>